/* GLOBAL STYLES */
:root {
    --black: #10151C;
    --blue: #0F4880;
    --blue-fade: #3F71A2;
    --grn: #068458;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--blue-fade);
    margin: 40px;
    color: var(--black);
}

.spotify-color {
    color: #1DB954;
}

#landing-overlay {
    text-align: center;
    position: relative;
    top: 15rem;
    transform: translateY(-50%);
}

#landing-overlay h1 {
    font-weight: 300;
    font-size: 45px;
}

#landing-overlay h1 span {
    color: white;
}

#landing-overlay p {
    width: 80%;
    margin: 50px auto 25px auto;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

#landing-overlay li {
    color: white;
    font-size: 25px;
}

.landing-btn {
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
    cursor: pointer;
}

.landing-btn:hover {
    background-color: var(--grn);
}

/* DESKTOP LAYOUT */
@media screen and (min-width: 770px) {
    /* BADGES */
    .genre-badge {
        background-color: var(--blue);
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin: 0 0 0 5px;
        cursor: pointer;
    }

    .genre-suggestions {
        position: absolute;
        background-color: white;
        border-radius: 10px;
        width: 20%;
        height: 15%;
        right: -0.5%;
        top: -1%;
        border: 2px solid var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        margin: 0;

    }

    .genre-suggestions h3 {
        text-align: left;
        padding: 10px;
        text-align: center;
    }

    .genre-suggestions ul {
        list-style: none;
        margin: 0;
    }

    .genre-suggestions li {
        font-size: 12px;
        padding: 5px;
        display: inline-block;
        margin: 0;
    }


    header {
        color: var(--black);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    header h1 {
        color: var(--black);
        font-weight: 300;
        font-size: 45px;
    }

    header a {
        align-self: center;
        padding-left: 25px;
        color: var(--black);
    }

    header span {
        color: white;
    }

    .title-light {
        font-weight: 300;
    }

    .hidden {
        display: none;
    }


    input[type="text"] {
        background-color: white;
        color: var(--blue);
        border: 1px solid var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        border-radius: 10px;
        width: 40%;
        font-size: 20px;
        padding: 15px;
        font-weight: 300;
        -webkit-appearance: none;
        appearance: none;
    }

    input::placeholder {
        color: var(--lt-p);
    }

    input[type="submit"] {
        margin-left: 20px;
        font-size: 20px;
        padding: 10px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        color: white;
        border-radius: 10px;
        border: 2px solid white;;
        cursor: pointer;
        height: 55px;
        text-align: center;
        -webkit-appearance: none;
        appearance: none;
    }

    input[type="submit"]:hover {
        background-color: var(--grn);
        color: white;
        cursor: pointer;
    }

    table a {
        margin-left: 20px;
        font-size: 18px;
        padding: 10px;
        background-color: var(--blue);
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    table a {
        margin-left: 0;
        text-decoration: none;
        cursor: pointer;
    }

    table th {
        font-size: 20px;
    }

    .results {
        color: var(--black);
        padding: 5px 20px;
        width: 90%;
        margin: 50px 0px;
        border: 1px solid var(--blue);
        border-radius: 10px;
        background-color: white;
    }

    .results-table {
        width: 100%;
        text-align: left;

    }

    .results-table td {
        padding: 30px 30px 30px 0;
    }

    .results-table th {
        padding: 20px 0;
        font-weight: 700;
        border-bottom: 1px solid var(--blue);
    }

    .results h1 {
        font-weight: 300;
    }

    .results img {
        width: 225px;
    }

    i:hover {
        color: var(--blue);
    }

    .spotify-sign-btn {
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        color: white;
        font-weight: 700;
        font-size: 12px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        align-self: center;
    }

    .spotify-sign-btn:hover {
        background-color: var(--grn);
        color: white;
        cursor: pointer;
    }

    footer {
        display: none;
        color: white;
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 40px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer p {
        font-weight: 400;
        padding: 0;
        margin: 0;
        align-self: center;
    }

    footer a {
        font-weight: 400;
        color: white;
    }

    /* GITHUB DIV */
    .gh-link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid white;
        border-radius: 10px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        color: black;
        width: 55px;
        height: 15%;
        position: fixed;
        right: -5px;
    }

    .gh-link a {
        text-decoration: none;
    }

    .gh-link i {
        color: white;
        font-size: 35px;
        margin: 0;
        padding: 10px 5px;
        align-self: center;
    }

    .gh-link i:hover {
        color: var(--grn);
    }
}

/* MOBILE LAYOUT */
@media screen and (min-width: 200px) and (max-width: 769px) {
    body {
        margin: 10px;
    }
    header {
        height: 100px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 0;
    }

    header h1 {
        color: var(--white);
        font-weight: 300;
        font-size: 45px;
        text-align: center;
    }

    header a {
        align-self: center;
        padding: 0;
        color: var(--black);
    }

    header span {
        color: white;
    }

    .title-light {
        font-weight: 300;
    }

    .hidden {
        display: none;
    }

    .genre-suggestions {
        display: none;
    }

    .genre-suggestions h3 {
        font-size: 17px;
        text-align: center;
    }

    .genre-suggestions ul {
        width: 80%;
        margin: 0 auto;
        list-style: none;
        margin: 0;
    }

    .genre-suggestions li {
        font-size: 12px;
        padding: 5px;
        display: inline-block;
        margin: 0;
    }

    .genre-badge {
        background-color: var(--blue);
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin: 0 0 0 5px;
        cursor: pointer;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    input[type="text"] {
        background-color: white;
        color: var(--blue);
        border: 1px solid var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        border-radius: 10px;
        width: 100%;
        font-size: 20px;
        padding: 15px;
        font-weight: 300;
    }

    input::placeholder {
        color: var(--blue);
    }

    input[type="submit"] {
        margin-top: 15px;
        font-size: 20px;
        padding: 10px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        cursor: pointer;
        height: 55px;
        text-align: center;
        -webkit-appearance: none;
        appearance: none;
    }

    table a {
        margin-left: 20px;
        font-size: 13px;
        padding: 7px;
        background-color: var(--blue);
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    

    table a {
        margin-left: 0;
        text-decoration: none;
        cursor: pointer;
    }

    table th {
        font-size: 20px;
    }

    input[type="submit"]:hover {
        background-color: var(--grn);
        color: white;
        cursor: pointer;
    }

    .results {
        color: var(--black);
        padding: 20px 10px;
        width: 100%;
        margin: 25px 0px;
        border: 1px solid var(--blue);
        border-radius: 10px;
        background-color: white;
    }

    .results-table {
        width: 100%;
        text-align: left;

    }

    .results-table td {
        padding: 15px 0 30px 0;
        font-size: 14px;
    }


    .results-table th {
        padding: 0 15px 5px 0;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 1px solid var(--blue);
        text-transform: uppercase;
        text-align: left;
    }

    .spotify-sign-btn {
        background-color: var(--grn);
        box-shadow: 5px 2px 10px var(--blue);
        color: white;
        font-weight: 700;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid white;;
        align-self: center;
        cursor: pointer;
    }

    .spotify-sign-btn:hover {
        background-color: var(--grn);
        color: white;
        cursor: pointer;
    }

    footer {
        display: none;
        color: white;
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 45px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer p {
        font-weight: 400;
        margin: 0;
        align-self: center;
        font-size: 14px;
    }

    footer a {
        font-weight: 400;
        color: white;
    }

    /* GITHUB DIV */
    .gh-link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        background-color: var(--blue);
        box-shadow: 5px 2px 10px var(--blue);
        color: black;
        width: 45px;
        height: 15%;
        position: fixed;
        left: -5px;
        bottom: 50px;
    }

    .gh-link a {
        text-decoration: none;
    }

    .gh-link i {
        color: white;
        font-size: 25px;
        margin: 0;
        padding: 10px 5px;
        align-self: center;
    }

    .gh-link i:hover {
        color: #068458;
    }
}
