:root {
    --black: #10151C;
    /* --md-p: #390859;
    --dk-p: #170126;
    --lt-p: #9144A6;
    --xlt-p: #EAACF2; */
    --grn: #6DA69B;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin: 40px;
    color: var(--black);
}



/* DESKTOP */
@media only screen and (min-width: 300px) {
    #landing-overlay {
        text-align: center;
        position: relative;
        top: 15rem;
        transform: translateY(-50%);
    }

    #landing-overlay h1 {
        font-weight: 300;
        font-size: 45px;
    }

    #landing-overlay h1 span {
        color: var(--grn);
    }

    #landing-overlay p {
        width: 80%;
        margin: 50px auto 25px auto;
        font-size: 20px;
        font-weight: 300;
    }

    .landing-btn {
        background-color: var(--grn);
        color: white;
        font-weight: 700;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        padding: 15px;
        margin-top: 50px;
        cursor: pointer;
    }

    .landing-btn:hover {
        background-color: rgb(81, 124, 115);
    }

    main {
        display: none;
    }

    header {
        display: none;
        color: var(--black);
        /* display: flex;
        flex-direction: row;
        justify-content: flex-start; */
    }

    header h1 {
        color: var(--black);
        font-weight: 300;
    }

    header a {
        align-self: center;
        padding-left: 25px;
        color: var(--black);
    }

    .title-light {
        font-weight: 300;
    }

    .hidden {
        display: none;
    }


    input[type="text"] {
        background-color: white;
        color: var(--grn);
        border: 1px solid var(--grn);
        border-radius: 10px;
        width: 40%;
        font-size: 20px;
        padding: 15px;
        font-weight: 300;
    }

    select option {
        background-color: white;
        border-radius: 10px;
    }

    input::placeholder {
        color: var(--lt-p);
    }

    input[type="submit"], 
    table a {
        margin-left: 20px;
        font-size: 15px;
        padding: 10px;
        background-color: var(--grn);
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

    input[type="submit"] {
        height: 55px;
        text-align: center;
    }

    table a {
        margin-left: 0;
        text-decoration: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: var(--grn);
        color: white;
        cursor: pointer;
    }

    .results {
        color: var(--black);
        padding: 5px 20px;
        width: 90%;
        margin: 10px 0px;
        border: 1px solid var(--grn);
        border-radius: 10px;
    }

    .results-table {
        width: 100%;
        text-align: left;

    }

    .results-table td {
        padding: 30px 30px 30px 0;
    }

    .results-table th {
        padding: 20px 0;
        font-weight: 700;
        border-bottom: 1px solid var(--grn);
    }

    .results h1 {
        font-weight: 300;
    }

    .results img {
        width: 225px;
    }

    i:hover {
        color: var(--grn);
    }

    .top-track-link {
        background-color: var(--black);
        color: white;
        cursor: pointer;
        padding: 15px;
        
    }

    .top-track-link:hover {
        border-bottom: 5px solid #1DB954;
    }

    .spotify-sign-btn {
        background-color: #1DB954;
        color: var(--black);
        font-weight: 700;
        font-size: 12px;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
    }

    footer {
        display: none;
        color: var(--xlt-p);
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 50px;
        background-color: var(--black);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer h4 {
        font-weight: 300;
    }

    footer ul {
        font-weight: 300;
        align-self: center;
        list-style: none;
    }

    footer li {
        display: inline;
        padding: 20px;
    }

    footer li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    footer li a:hover {
        color: var(--lt-p);
    }
}
